body{
    overflow-x: hidden;
}
.corse_container{
    position: absolute;
    height: 100%;
    width: 100%;
    
  background-color: whitesmoke;
    top: 85px;
 }
 .mycourses{
    background-color: black;
    position: relative;
    height: 15%;
    width: 100%;
    color:white;
    
 }
 .card-group{
    height: 100%;
  background-color: whitesmoke;

 }
.crd{
  
}
 .my_mainmenu{
    position:relative;
    top:35px;
    display:flex;
    padding: 10px 25px 50px 25px;
 }
 .mid_cntnt{
 position:relative;
 top: 10px;
 background-color:whitesmoke;
 height: 100%;
 width: 100%;
 }
 
 .anchor{
    background-color:black;
    color:white;
    border:none;
    position:relative;
    top: -88px;
    border-bottom: 2px solid white;
 }
 .crstitl{
     position: relative;
     left: 50px;
 }
 .archived{
     position:absolute;
     top: 10px;
 }
 .visible{
    visibility: visible;
}
.newlylaunched{
    visibility: hidden;
}
.testng{
    height: 450px;
}
.archv{
    border:none;
    background:none;
    outline:none;
    color:purple;
    text-decoration: underline;
}