.crsside{
    background-color:black;
    position: fixed;
    height:100%;
    width:20%;
    left:0;
    top:0;
    color:wheat;
    display:flex;
    flex-direction: column;
    
    align-items: center;
}
a{
    text-decoration: none;
    color:white; 
}
.sdcntnt{
    color:white;
    width:100%;
    padding: 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display :flex;
    justify-content:center;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.hdr{
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.crsmid{
    position:absolute;
    width:79%;
    height:100%;
    top:0;
    background-color:whitesmoke;
    left: 280px;
}
.form-select{
    padding:10px;
}
.cat{
    width:200px;
    position:relative;
    left: 10px;
}
.crupper{
    position:relative;
    top: 50px;
    left: 60px;
    background-color:whitesmoke;
    width:800px;
    height:50px;
    display:flex;
    justify-content:space-evenly;
}
.crmid{
    background-color:whitesmoke;
    width:800px;
    height:300px;
    position:relative;
    top: 90px;
    left: 60px;
    display:flex;
    justify-content:space-evenly;
}
.bmid{
    height:200px;
    top: 150px;
}
.crsdes,.vdbx{

    height:200px;
    border-radius: 10px;
    background-color:white;
}
.crsdes{
    position:relative;
    top: 10px;
    left: 170px;
    border:none;
}
.crsde{
    position:relative;
    top: 10px;
    left: 90px;
    width:250px;
    display:flex;
    justify-content: center;

}
.brdr{
    border: 2px solid black;
    border-radius:10px;
    height:600px;
    position:absolute;
    width:87%;
    top:20px;
    left:50px;
  
}
.crvdo{
    position:absolute;
    
    top: 50px;
    left: 150px;
    display:flex;
    justify-content: center;
}
.crpdf{
    left: 450px;
    top: 70px;
}
.vdbx{
    width:250px;
    position:absolute;
    top: 10px;
    left: 0px;
    display:flex;
    justify-content: center;
}
.img{
    padding: 20px;
}
.in{
    left: 700px;
    top: 500px;
}
.aname{
    position: relative;
    left: 20px;
} 
.price{
    position: relative;
    left: 30px;
}
.TK{
    position: absolute;
    left: 765px;
    top:1px;
    width: 35px;
    background-color:chocolate;
    border:none;
    height:17px;
    color:white;
    
}
.sttsbar{
    background-color:lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 70px;
    left:60px;
    height:100px;
    width:90%;
    font-size: 20px;
    padding-top: 15px;
}
.crstbl{
    position: relative;
    top: 90px;
    left: 60px;
    width:90%;
    border:1px solid lightgray;
}
.low{
    display:flex;
    justify-content:space-evenly;
    left: 25px;
    top: 80px;
}
.spc{
    height: 15px;
}
.irvw{
    height: 150px;
    width: 2200px;
    position: relative;
    top: 150px;
    left: -180px;
}
.crthtxt{
    width: 100%;
}
.mdbx{
   
   
    top: 50px;
}