.vdo_cntnr{
    background-color: black;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    height: 70%;
    width: 70%;
}
.vdo{
    width:955px; 
    height:460px;
    position: relative;
    top: 0;
}
.dbar{
    position: absolute;
    top: 460px;
    background-color:whitesmoke;
    width: 70.8%;
   height: 2000px;
}
.nav{
    position: absolute;
    left: 0px;
    top:0px;
    height: 50px;
    background-color:white;
    width: 100%;
}
.nav-item{
    
    border: 1px solid gray;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}
.navbar-brand{
    position:relative;
    top: 0px;
    border:none;
    background-color:white;
}

.container{
    width:29.2%;
    height:100%;
    position: absolute;
    right:0px;
}

.accordion-item{
    width: 106%;
    padding:0px;
    margin: 0;
    position: relative;
    top:0px;
    left:-12px;

}
.danger{
    position:absolute;
    z-index: 10000;
    visibility:hidden; 
    width:50%;

}
.alert-danger, .alert{
    position:absolute;
    z-index: 10000;
    width:50%;
}
.pos{
    position:relative;
    left:600px;
    top: -100px;
    background-color:purple;
    color:white;
}
.posi{
   position:relative;
    left:20px;
    top: -10px;
    width:70%;
    color:black;
    
}

.posia{
    position:relative;
    left:360px;
    top: 0px;
    border:1px solid gray;
    width:20%;
    color:white;
    background-color:#B7264D;
}
.no{
    display:none;
}

