@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.bkhdr
{
    position: relative;
    
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color:white;
    font-weight: 200;
    padding: 22px;
    font-size: 28px;
}
.acsghl{
    top: 15px;
}
.dg{
    position: relative;
    top: 15px; 
    padding-bottom: 20px;
}
.slider{
    background-color:white;
  max-width: 1400px;
  top: 0px;
  height: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.slider .card{
  
  background: whitesmoke;
  height: 350px;
  width: 300px;
  border-radius:20px;
}
.slider .card .img{
  height: 100px;
  width: 100%;
}
.slider .card .img img{
  
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}
img{
    height:160px;
}
.card-text,.card-title,.card-footer{
    
  padding-left: 10px;
}
.addcrt{
  background-color:purple;
  border:none;
  outline: none;
  height: 30px;
  width: 120px;
  border-radius:10px;
  color:white;
  position:absolute;
  
  opacity:1;
}
.adcrt{
  background-color:purple;
  border:none;
  outline: none;
  height: 50px;
  width: 10px;
  border-radius:8px;
  position:relative;
  bottom: -10px;
  color:white;
  left: 10px;
}
.bk{
 
  position:absolute;
  width: 170px;
  height: 150px;
  background-color: white;
  opacity: 0.7;
  top: 50px;
  visibility: hidden;
}

.addtocrt{
 /* background-color: red;*/
  border:none;
  outline: none;
  height: 30px;
  border-radius:10px;
  color:white;
  
  width: 120px;
  position:absolute;
padding-left :30px;
  top: 120px;
  visibility:hidden;
}
.sldmg:hover .bk{
  
  visibility:visible;
  
}
.sldmg:hover .addtocrt{
  
  visibility:visible;
  
}